name: Review Assign

on:
  pull_request:
    types: [opened, ready_for_review]

permissions:
  contents: write
  pull-requests: write
  
jobs:
  assign:
    runs-on: ubuntu-latest
    steps:
      - uses: hkusu/review-assign-action@v1
        with:
          assignees: ${{ github.actor }}
          reviewers: user1, user2, user3
          max-num-of-reviewers: 2
          github-token: ${{ secrets.GITHUB_TOKEN }}
